<h2>Search author</h2>
<form
action="/authors"
	method="get">
	<label for="name">Name</label>
	<input
  type="text"
  name="name"
  id="name"
  value="<%= searchOptions.name %>" />
	<button type="submit">search</button>
</form>
<h2>All authors</h2>
<div>
  <% authors.forEach((author) => { %>
    <p><%= author.name %></p>
  <% }) %>
</div>